body {
    margin: 0;
}

#mainHeader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    text-align: center;
    font-family: 'Petrona', serif;
    font-weight: 700;
    font-size: 4rem;
}

#lyricsRequest {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    width: 22rem;
    text-align: center;
    font-family: 'Inconsolata', serif;
    font-weight: regular;
    font-size: 1.1rem;
}

#searchSimilarLyricsButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
    font-family: 'Petrona', serif;
    font-weight: 100;
    font-size: 1.3em;
    color: #ffffff;
    width: 15rem;
    height: 3rem;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 1rem;
    filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.4));
}

#searchSimilarLyricsButton:hover {
    transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
}

div.searchInput input {
    font-family: 'Inconsolata', serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: #3b3b3b;
    width: 20rem;
    height: 2rem;
    padding: 0 1rem 0 1rem;
    border-radius: 1rem;
    border: 2px solid #DBDBDB;
    outline: none;
    margin: 0 0.5rem 0 0.5rem;
}

div.searchInput {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    text-align: center;
}

#errorMissingInput {
    display: block;
    text-align: center;
    margin-top: 8rem;
    font-family: 'Inconsolata', serif;
    font-weight: 400;
    font-size: 1.3em;
    color: #ff0000;
}

#output_songs {
    display: block;
    text-align: center;
    margin-top: 8rem;
    font-family: 'Petrona', serif;
    font-weight: 700;
    font-size: 1.7em;
    color: #000000;
}

#output {
    display: block;
    text-align: center;
    margin-top: 0.5rem;
    font-family: 'Inconsolata', serif;
    font-weight: 400;
    font-size: 1.3em;
    color: #000000;
}